.button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: inherit;
  padding: 16px 20px;
  height: 44px;

  @include font(16px, 21px, 700, 0);
  text-align: center;

  border-radius: 22px;
  border: none;

  transform: scale(1);
  transition: color var(--trasition-fast), background-color var(--trasition-fast), transform var(--trasition-fast);
  cursor: pointer;

  &__main {
    color: var(--main-clr);
    background-color: #fff;

    &:hover,
    &:focus {
      background-color: var(--hover-clr);
      transform: scale(1.1);
    }
  }

  &__secondary {
    color: #fff;
    background-color: var(--main-clr);
    ;

    &:hover,
    &:focus {
      background-color: var(--pink);
      transform: scale(1.1);
    }
  }
}

.button-circle {
  display: block;
  align-items: center;
  justify-content: center;

  height: 40px;
  width: 40px;

  border-radius: 50%;
  border: none;
  // overflow: hidden;

  color: var(--main-clr);
  background-color: #fff;

  transform: scale(1);
  transition: transform var(--trasition-fast);
  cursor: pointer;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}